{% extends 'navigation/admin/nav.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block comments %}
    <h1>Commentaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentaire.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ commentaire.date ? commentaire.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ commentaire.text }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
